/* nav{
    height: 100px;
    background:linear-gradient(45deg,rgb(156,14,156),midnightblue);

}
.liste{
    list-style-type: none;
    background:linear-gradient(45deg,rgb(156,14,156),midnightblue);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.items{
    margin-right: 20px;
    color: aliceblue;
    cursor: pointer;

}
.btn{
    display: none;
    
} */
nav{
    height: 100px;
    background-color: #061F37;

}
.liste{
    list-style-type: none;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.items{
    color: #AA974C;
    cursor: pointer;
    font-size: 25px;

}
.btn{
    display: none;
    
}
.divlogo1{
    padding-top: 30px;
}
.logo1{
    width: auto;
    height: 130px;
    cursor: pointer;
}
.logo2{
    width: auto;
    height: 30px;
    filter: contrast(0);
    cursor: pointer;
}
