.titreedit{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.profiluser{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    margin-top: 5%;
}
.profiluser p{
    color: white;
}
.profiluserchange{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    margin-top: 5%;

}